{% extends "base.html" %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Great pains are taken to accommodate you. Your needs are met by something or another that helps you escape indeed. Let it be felt together. Anyone who desires, desires love. And no one prevents the support of others. Because they wish to be in this official business indeed here.</p>
        </div>

   
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Semparakomabi ,Chinnampalli ,Pennagaram , Dharmapuri-636811</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>infommv@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 90431 08709</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <div class="container">
              <h2>Contact Us</h2>
              {% if success %}
                  <div class="sent-message">Your message has been sent. Thank you!</div>
              {% endif %}
              <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {{ form.name.errors }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form.subject.label_tag }}
                                            {{ form.subject }}
                                            {{ form.subject.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form.message.label_tag }}
                                            {{ form.message }}
                                            {{ form.message.errors }}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <div class="flex-row-reverse">
                                        <button type="submit" class="btn btn-outline-secondary">Send Message</button>
                                    </div>
                                </div>
                                
                            </form>
          </div>

          </div>

        </div>

      </div>
      
    </section><!-- End Contact Section -->

    <div>
      <iframe class="p-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.1750533370237!2d77.98987732913182!3d12.038326332731234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac1d00669137a7%3A0xc47c2ea18b442357!2sMADHURAJAN%20FARM!5e1!3m2!1sen!2sin!4v1718792687469!5m2!1sen!2sin" width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>

  </main><!-- End #main -->
  {% endblock content %}
